@font-face {
	font-family: 'Icons';
	src:url('../fonts/Icons.eot?-qfmp7c');
	src:url('../fonts/Icons.eot?#iefix-qfmp7c') format('embedded-opentype'),
		url('../fonts/Icons.woff?-qfmp7c') format('woff'),
		url('../fonts/Icons.ttf?-qfmp7c') format('truetype'),
		url('../fonts/Icons.svg?-qfmp7c#Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\f002";
}
.icon-envelope-o:before {
	content: "\f003";
}
.icon-heart:before {
	content: "\f004";
}
.icon-user:before {
	content: "\f007";
}
.icon-check:before {
	content: "\f00c";
}
.icon-gear:before {
	content: "\f013";
}
.icon-trash-o:before {
	content: "\f014";
}
.icon-home:before {
	content: "\f015";
}
.icon-arrow-circle-o-down:before {
	content: "\f01a";
}
.icon-print:before {
	content: "\f02f";
}
.icon-camera:before {
	content: "\f030";
}
.icon-photo:before {
	content: "\f03e";
}
.icon-share-square-o:before {
	content: "\f045";
}
.icon-asterisk:before {
	content: "\f069";
}
.icon-exclamation-circle:before {
	content: "\f06a";
}
.icon-comment:before {
	content: "\f075";
}
.icon-twitter-square:before {
	content: "\f081";
}
.icon-facebook-square:before {
	content: "\f082";
}
.icon-thumbs-o-up:before {
	content: "\f087";
}
.icon-linkedin-square:before {
	content: "\f08c";
}
.icon-trophy:before {
	content: "\f091";
}
.icon-phone:before {
	content: "\f095";
}
.icon-phone-square:before {
	content: "\f098";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-certificate:before {
	content: "\f0a3";
}
.icon-globe:before {
	content: "\f0ac";
}
.icon-group:before {
	content: "\f0c0";
}
.icon-google-plus-square:before {
	content: "\f0d4";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-caret-down:before {
	content: "\f0d7";
}
.icon-caret-up:before {
	content: "\f0d8";
}
.icon-caret-left:before {
	content: "\f0d9";
}
.icon-caret-right:before {
	content: "\f0da";
}
.icon-envelope:before {
	content: "\f0e0";
}
.icon-angle-double-left:before {
	content: "\f100";
}
.icon-angle-double-right:before {
	content: "\f101";
}
.icon-angle-double-up:before {
	content: "\f102";
}
.icon-angle-double-down:before {
	content: "\f103";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-rss-square:before {
	content: "\f143";
}
.icon-youtube-square:before {
	content: "\f166";
}
.icon-xing-square:before {
	content: "\f169";
}
.icon-instagram:before {
	content: "\f16d";
}
.icon-female:before {
	content: "\f182";
}
.icon-male:before {
	content: "\f183";
}
.icon-share-alt:before {
	content: "\f1e0";
}
